<section id="todoapp">
  <header id="header">
    <h1>todos</h1>
    <input type="text" id="new-todo" onkeydown={{action 'createTodo'}} placeholder="What needs to be done?" autofocus>
  </header>
    {{outlet}}
    {{#if (gt model.length 0)}}
      <footer id="footer">
      <!--
        <span id="todo-count"><strong>{{remaining.length}}</strong> {{pluralize remaining.length}} left</span>
        -->
        <ul id="filters">
          <!--
          <li>{{#link-to "index" activeClass="selected"}}All{{/link-to}}</li>
          -->
          <li>{{#link-to "all" activeClass="selected"}}所有({{model.length}}){{/link-to}}</li>
          <li>{{#link-to "active" activeClass="selected"}}处理中({{remaining.length}}){{/link-to}}</li>
          <li>{{#link-to "completed" activeClass="selected"}}已完成({{completed.length}}){{/link-to}}</li>
        </ul>
      </footer>
    {{/if}}
</section>
<footer id="info">
  <p>列表双击可编辑</p>
  <p>
    Created by
    <a href="http://github.com/ubuntuvim">ubuntuvim</a>,
  </p>
  <p>Part of <a href="https://github.com/ubuntuvim/plan-todos">TodoMVC</a></p>
</footer>
